.not-found-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: white; 
  }
  
  .not-found-container {
    text-align: center;
    padding: 40px;
  }
  
  h2 {
    font-size: 26px;
    font-weight: bold;
    color: #ff0000; 
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #ffffff; 
    margin: 10px 0;
  }
  
  .back-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white; 
  }
  
  