
  
  .profile-container {
    text-align: center;
    padding: 20px;
  }
  
  .welcome-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-info {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .back-button {
    margin-top: 10px;
  }
  
  .grid-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
  }
  
  .grid-header ion-card-title {
    grid-column: 1 / -1;
    text-align: center;
  }
  
  .grid-header ion-button {
    grid-column: 2;
  }

  #log-out{
    box-shadow: none;
    border: none;
  }


