<ion-header>
  <ion-toolbar>
    <ion-title>Página de Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="container">
    <ion-card-header id="header">
      <h2 style="color: white;">{{ welcomeMessage }}</h2>
    </ion-card-header>
    <ion-card-content>
    <div id="msginicial">
      <h2 style="padding-bottom: 10px;"> Aplicación de registro de asistencia</h2>
      <h2 style="padding-bottom: 10px;"> Usando código QR</h2>
      <h2 style="padding-bottom: 10px;"> ¡Empieza Ya!</h2>
    </div>
    <div id="img">
      <img src="../../assets/icon/codigo-qr.png" alt="">
    </div>
  
  </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer id="footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <div id="boton1">
        <ion-button routerLink="/home">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Inicio
        </ion-button>
      </div>
      <ion-button class="center-button">
        <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
        Asistencia
      </ion-button>
      </ion-buttons>
    <h2 style="text-align: center;"></h2>
      <ion-buttons slot="end">
        <ion-button routerLink="/profile">
          <ion-icon name="person-outline"></ion-icon>
          Perfil
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>