.success-message {
    color: green;
    text-align: center;
    margin-top: 15px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
  }
  

form{
  padding: 10px;
  padding-top: 20px;
}

ion-button{
  padding: 10px;
}


#barra1{
  margin-top: 20px;
  margin-bottom: 20px;
}

#barra2{
  margin-top: 20px;
  margin-bottom: 20px;
}

#barra3{
  margin-top: 20px;
  margin-bottom: 20px;
}